<?xml version="1.0" ?>
<robot name="urdf_table">
 <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="baseLink"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.29"/>
       <mass value="0"/>
       <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.29"/>
      <geometry>
	      <!-- <mesh filename="table.obj" scale="1 1 0.08"/> -->
          <box size="0.5 0.5 0.02"/>
      </geometry>
	    <material name="framemat0">
      <color rgba="0.8 0.66 0.49 1" />
      </material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="-0.20 -0.20 0.15"/>
      <geometry>
        <box size="0.025 0.025 0.30"/>
      </geometry>
	  <material name="framemat0"/>	 
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="-0.20 0.20 0.15"/>
      <geometry>
        <box size="0.025 0.025 0.30"/>
      </geometry>
	  <material name="framemat0"/>
	  </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0.20 -0.20 0.15"/>
      <geometry>
        <box size="0.025 0.025 0.30"/>
      </geometry>
	  <material name="framemat0"/>
	  </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0.20 0.20 0.15"/>
      <geometry>
        <box size="0.025 0.025 0.30"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.29"/>
      <geometry>
          <box size="0.5 0.5 0.02"/>
      </geometry>
    </collision>    
  </link>
</robot>

